* text=auto
*.sh text eol=lf
*.py text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.csv text eol=lf
*.tsv text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.tif binary
*.tiff binary
*.pdf binary
*.ply binary
*.pdb text eol=lf
*.mol2 text eol=lf
